<div class="column is-one-quarter">
	<nav class="panel has-background-white-ter">
		<p class="panel-heading has-background-info has-text-white has-text-weight-bold">
			🔥 Trending Now
		</p>
		<a class="panel-block is-flex is-justify-content-space-between hover:has-background-info-light">
			<span>#WorldCup2023</span>
			<span class="tag is-info is-light">1.2M</span>
		</a>
		<a class="panel-block is-flex is-justify-content-space-between hover:has-background-info-light">
			<span>#MondayMotivation</span>
			<span class="tag is-info is-light">856K</span>
		</a>
		<a class="panel-block is-flex is-justify-content-space-between hover:has-background-info-light">
			<span>#TaylorSwift</span>
			<span class="tag is-info is-light">750K</span>
		</a>
		<a class="panel-block is-flex is-justify-content-space-between hover:has-background-info-light">
			<span>#ClimateAction</span>
			<span class="tag is-info is-light">612K</span>
		</a>
		<a class="panel-block is-flex is-justify-content-space-between hover:has-background-info-light">
			<span>#NFTs</span>
			<span class="tag is-info is-light">524K</span>
		</a>
		<a class="panel-block is-flex is-justify-content-space-between hover:has-background-info-light">
			<span>#CyberMonday</span>
			<span class="tag is-info is-light">487K</span>
		</a>
	</nav>
</div>